<!doctype html>
<html lang="en">
   <head>
      <title> Demographic Analysis </title>
      <% include partials/head %>
   </head>
   <body>
    <% include partials/nav %>

    <br/>
    <img src="../src/images/Store_Region_Distribution.png" alt="Store Regions" class="img-fluid center" style="width: 25%">
    <figcaption class="text-center">
      <p style="margin: 15px;">
      The pie chart above shows the distribution of transactions by store region. It shows that the majority of transactions are from the east
      (32.9%).
      Only 17.6% of transactions are from the central region. To interact with more customers and potentially increase engagement, less
      represented store regions, such as the central region, should be targeted.
      </p>
    </figcaption>
    <br/>
    <img src="../src/images/spending_by_date_and_age.png" alt="Time Series with Age" class="img-fluid center">
    <figcaption class="text-center">
      <p style="margin: 15px;">
       The time-series above shows the spending by age group over time. We can see that the 19-24 group spending is less predictable
       than the 65-74 group spending. This is because the 65-74 group spending is more consistent over time.
       Such patterns can be used to target customer groups with a higher probability of spending at specific seasons.
       Predicitve models for such data can offer insights to keep the store promotions as customer engaging as possibe.
       This analysis can be enhanced with extra features such as what products are typically 
       bought by together as this would allow us to build associations rules.
      </p>
      </figcaption>
    <br/>
    <img src="../src/images/spending_by_date_and_household_size.png" alt="Time Series with Size" class="img-fluid center"  style="width: 60%">
    <figcaption class="text-center">
      <p style="margin: 15px;">
       The analysis shows the spending by household over time. The household size is a good indicator of the customer's spending habits.
       It is clear that the 5+ household size group spends more than other groups in the study. This is reasonable as the 5+ group
       is the largest group in the study. A time series analysis of this data can be used
       to predict customer spending habits based on their household size.
      </p>
    </figcaption>
    <br/>

   </body>
</html>