<!doctype html>
<html lang="en">
   <head>
      <title> Demographic Analysis </title>
      <% include partials/head %>
   </head>
   <body>
    <% include partials/nav %>

    <div class="container">
        Create a demographic analysis of your data. Explaination of each demographic variable.
    </div>

   </body>
</html>