<!doctype html>
<html lang="en">
   <head>
      <title> Demographic Analysis </title>
      <% include partials/head %>
   </head>
   <body>
    <% include partials/nav %>

    <br/>
    <img src="../src/images/Store_Region_Distribution.png" alt="Store Regions" class="img-fluid center" style="width: 25%">
    <figcaption class="text-center">
      Pie Chart of Store Regions
    </figcaption>
    <br/>
    <img src="../src/images/spending_by_date_and_age.png" alt="Time Series with Age" class="img-fluid center">
    <figcaption class="text-center">
       Time Series of Spending by Date and Age
    </figcaption>
    <br/>
    <img src="../src/images/spending_by_date_and_age.png" alt="Time Series with Age" class="img-fluid center">
    <figcaption class="text-center">
       Time Series of Spending by Date and Age
    </figcaption>
    <br/>

   </body>
</html>