<!doctype html>
<html lang="en">
   <head>
      <title> Temporal Analysis </title>
      <% include partials/head %>
   </head>
   <body>
    <% include partials/nav %>

    <div class="container">
        Create a temporal analysis of the data. Plots with an explaination of each plot.
    </div>

   </body>
</html>