<!doctype html>
<html lang="en">
   <head>
      <title> Temporal Analysis </title>
      <% include partials/head %>
   </head>
   <body>
   <% include partials/nav %>

   <br />
   <img src="../src/images/spending_by_week_number.png" alt="Box Plots of Transactions" class="img-fluid center">
   <figcaption class="text-center">
      <p style="margin: 15px;">
      This graphical method is used to determine the distribution of transactions by week number.
      The lines extending from the boxes indicate the variability of the data.
      This allows us to determine the trend and seasonality of the data over an average year. It can be clearly 
      seen that the data is not evenly distributed over the year and that there is a clear increase in spending
      at specific seasons such as the end of the year followed by a big drop at the beginning of the year. Hence,
      deploying customer engagement strategies to increase spending at the beginning of the year will be beneficial 
      (i.e., special promotions, etc.).
      </p>
   </figcaption>
   <br/>
   <img src="../src/images/spending_by_week_number_categorical.png" alt="Time Series of Spend by Category" class="img-fluid center">
   <figcaption class="text-center">
      <p style="margin: 15px;">
      This plot shows the average spending by category over the year (52 weeks). The line for each category (commodity)
      also indicated the central tendency of the data. The 5 selected commodities absorb ~90% of the total number of
      transactions. Other commodities were excluded from this particular analysis to focus on the most important
      commodities in terms of customer engagement. The overall analysis shows the importance of tracking individual 
      categories in specific weeks of the year to increase customer engagement and maximize profits in off-seasons.
      </p>
   </figcaption>
   <img src="../src/images/week_num_line.png" alt="Time Series of Transactions" class="img-fluid center">
   <figcaption class="text-center">
      The time-series shows the number of transactions per week. The red/cutoff line indicates a "safe" expected number
      of transactions for the store. It is clear that Week 15 exceeds the expected number of transactions. Hence,
      the store could prepare for more transactions at that time to make sure that the customers are satisfied in terms
      of availability of products and overall fulfillment of their needs.
   </figcaption>
   <br/>
      
   </body>
</html>