<!doctype html>
<html lang="en">
   <head>
      <title> Temporal Analysis </title>
      <% include partials/head %>
   </head>
   <body>
   <% include partials/nav %>

   <br />
   <img src="../src/images/spending_by_week_number.png" alt="Box Plots of Transactions" class="img-fluid center">
   <figcaption class="text-center">
      Box Plots of Transactions
   </figcaption>
   <br/>
   <img src="../src/images/week_num_line.png" alt="Time Series of Transactions" class="img-fluid center" style="width: 60%;">
   <figcaption class="text-center">
      Time Series of Transactions
   </figcaption>
   <br/>
   <img src="../src/images/spending_by_date_and_type.png" alt="Time Series of Spend by Type" class="img-fluid center">
   <figcaption class="text-center">
      Time Series of Spend by Type
   </figcaption>
   <br/>
      
   </body>
</html>